@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    font-size: 1.2vw;
}

main {
    position: relative;
    top: 1vw;
    width: 100%;
}

.main_container {
    width: 97%;
    color: black;
    padding: 1vw;
}

.user_info {
    width: 100% - 1vw;
    padding: 1vw;
}

.user_info h1 {
    font-size: 1.8rem;
}

.brief_card {
    width: 100% - 1vw;
    padding: 1vw;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: center;
}

.card {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1vw 1vw 1vw 2vw;
    background-color: #D9D9D9;
    border-radius: 1vw;
}

.confirm_card {
    background-color: #FFC857;
}

.process_card {
    background-color: #00BFFF;
}

.done_card {
    background-color: #c8ef1a;
}

.declined_card {
    background-color: #F44336;
}

.card button {
    width: 10vw;
    height: 2em;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 1em;
    border: transparent;
    transition: ease-in-out 0.2s;
    background-color: #f2f2f2;
}

.card button:hover {
    border: 0.1em solid #005100;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.title h1 {
    padding: 0;
    margin: 0;
}

.title img {
    width: 3vw;
    padding: 0;
    margin: 0;
}

.user_request_container, .user_request {
    width: 100% - 2vw;
    padding: 1vw;
}

.request {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em;
    margin: 0.8em 0 0.8em 0;
    border-radius: 2em;
    box-shadow: 0 0.4em 0.4em rgba(0, 0, 0, 0.25);
    transition: ease-in-out 0.5s;
}

.left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left img {
    width: 3vw;
}

.data_user, .left img {
    margin-left: 1em;
}

.data_user h1, .data_user h2 {
    margin: 0;
}

.data_user h1 {
    font-size: 1.4rem;
    font-weight: 500;
}

.data_user h2 {
    font-size: 1rem;
    font-weight: 300;
}

.right {
    margin-right: 2em;
}

.right h1 {
    font-size: 1rem;
    font-weight: 700;
}

.process:hover {
    background-color: #00BFFF;
}

.confirmation:hover {
    background-color: #FFC857;
}

.done:hover {
    background-color: #c8ef1a;
}

.declined:hover {
    background-color: #F44336;
}

.button_type_container > button, .right > button {
    width: 100%;
    height: 2vw;
    font-family: 'Poppins', sans-serif;
    margin-top: 1vw;
    border-radius: 1vw;
    background-color: #c8ef1a;
    border: 1px solid transparent;
    transition: ease-in-out 0.3s;
}

.button_type_container > button:hover, .right > button:hover {
    border: 1px solid black;
}

@media all and (max-width: 768px){
    :root {
        font-size: 14px;
    }

    .brief_card {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
    }
}

@media all and (max-width: 480px){
    :root {
        font-size: 10px;
    }
}
