@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    font-size: 1.2vw;
}

header {
    position: relative;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    color: black;
    z-index: 2;
    background-color: white;
}

header h1 {
    font-size: 1.2rem;
    padding: 0.5vw;
    font-family: 'Kaushan Script', 'Poppins', sans-serif;
}
.right-section{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 3vw;
    column-gap: 2vw;
}
header img {
    width: 3vw;
}

#coin-container{
    display: flex;
    position: relative;
    align-items: center;
}

#coin-container div{
    border: 1px solid black;
    width: 5vw;
    border-radius: 2.5vw;
    margin-left: 1vw;
    padding-left: 2vw;
    font-size: 0.8rem;
}

#coin-container img{
    position: absolute;
}

.user-profile-container{
    display: flex;
}

.icon_bars {
    position: relative;
    width: 2vw;
    height: 2vw;
    margin: 1vw 1vw 1vw 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.icon_bars > div {
    width: 90%;
    height: 20%;
    margin: 10% 0 10% 0;
    padding: 5%;
    background-color: black;
}

nav {
    position: fixed;
    top: 5vw;
    width: 15%;
    left: -100%;
    height: 100vh;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
    z-index: 1;
    background-color: white;
    border-right: 2px solid black;
}

nav ul li {
    list-style-type: none;
    margin: 1em 0 1em 0;
    opacity: 70%;
    font-weight: 700;
}

nav ul li a {
    text-decoration: none;
    transition: linear 0.3s;
    color: black;
    font-size: 1.3rem;
}

nav ul li a:hover {
    padding-left: 1vw;
    opacity: 100%;
    color: #38990b;
}

#burger_icon {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

#burger_icon:checked ~ .side_nav{
    left: 0;
}

#burger_icon:checked ~ main {
    top: 6vw;
    width: 85%;
    left: 15%;
    padding-left: 1vw;
}

#burger_icon:checked ~ header {
    position: fixed;
}

footer {
    width: 97%;
    padding: 1vw;
    border-top: 2px solid black;
}

.footer_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer_top_right {
    display: flex;
    flex-direction: row;
    margin-right: 5vw;
    flex-wrap: wrap;
}

.footer_top_right button{
    cursor: pointer;
}

.footer_top_right input {
    width: 20vw;
    height: 3vw;
    border: transparent;
    text-align: start;
    border-bottom: 2px solid black;
    font-size: 1.1rem;
}

.footer_top_right input:focus {
    outline: none;
}

.footer_top_right button {
    font-size: 0.7rem;
    padding: 1vw;
    width: 8vw;
    margin-left: 2vw;
    border-radius: 2vw;
    border: transparent;
    background-color: #c8ef1a;
}

.footer_top_left {
    padding-left: 2vw;
}

.footer_top_left h1 {
    font-size: 1.5rem;
}

.footer_top_left h2 {
    font-size: 1.1rem;
    font-weight: 300;
}

.footer_mid {
    width: 100%;
    border-top: 0.2vw solid black;
    margin-top: 3vw;
    padding-top: 2vw;
}

.link_container {
    display: flex;
    flex-direction: row;
    padding: 0 1vw 0 2vw;
    flex-wrap: wrap;
}

.link {
    padding: 1vw;
    width: 20%;
}

.link h1 {
    font-size: 1rem;
}

.link ul {
    padding: 0;
}

.link ul li {
    font-size: 0.8rem;
    list-style-type: none;
}

.link ul li a {
    text-decoration: none;
    color: black;
}

.social {
    padding: 1vw;
}

.social h1 {
    font-size: 1rem;
}

.social_icon img {
    width: 3vw;
    cursor: pointer;
}

.footer_bottom {
    text-align: center;
    margin-top: 2vw;
}

.footer_bottom h1, .footer_bottom h2 {
    font-size: 0.8rem;
    font-weight: 300;
}

.main_link h1 {
    font-family: 'Kaushan Script', 'Poppins', sans-serif;
    font-size: 1.5rem;
}

button :hover{
    cursor: pointer;
}

.footer_top_right form button {
    transition: ease-in-out 0.5s;
}

.footer_top_right form button:hover {
    border: 1px solid black;
}

@media all and (max-width: 768px){
    :root {
        font-size: 14px;
    }

    nav {
        width: 100%;
    }

    nav ul {
        padding: 10vw;
    }

    .footer_top, .footer_mid {
        flex-direction: column;
    }

    .footer_top {
        text-align: center;
    }

    .footer_top_right {
        margin-top: 5vw;
    }

    .footer_top_right input {
        width: 30vw;
    }

    .footer_top_right button {
        width: 15vw;
    }
}

@media all and (max-width: 480px){
    :root {
        font-size: 10px;
    }

    .link_container {
        flex-direction: column;
    }

    .link {
        width: 80%;
    }
}
