.hero{
    position: relative;
}

.hero-img{
    margin: 0;
    padding: 0;
    border-color: green;
    width: 100%;
    height: 40vw;
    filter: brightness(0.5);
}

.hero-text{
    position: absolute;
    top : 10vw;
    left : 10vw;
    display: flex;
    flex-direction: column;
    background-color: rgba(256,256,256,0.5);
    border-radius: 50px;
}

.hero-text h1{
    color: white;
    padding: 2vw 0 2vw 0;
    margin: 0 1vw 0 1vw;
    font-size: 2rem;
}

.hero-text div{
    background-color: white;
    height: 0.1vw;
    margin: 0 1vw 0 1vw;
}

.hero-text h2{
    color: white;
    padding: 1vw 0 3vw 0;
    margin: 0 1vw 0 1vw;
    width: 50vw;
    font-size: 1rem;
}

.select{
    display: flex;
    width: 80vw;
    justify-content: space-evenly;
    margin: 2vw 0 0 0;
    font-size: 2vw;
}

#about-us:checked ~ .select .about-us-text{
    color: black;
}
#our-service:checked ~ .select .our-service-text{
    color: black;
}
#partner:checked ~ .select .partner-text{
    color: black;
}

.divider{
    margin: 0 0 0 0vw;
    height: 0.2vw;
    width: 80vw;
    background-color: black;
}


.info{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 40vw;
    align-items: center;
    padding-bottom: 20vw;
    padding-top: 5vw;
}

.info input{
    display: none;
}

.main-info{
    margin-top: 1vw;
    height: 30vw;
    width: 80vw;
}

.AU,.OU,.PRT{
    padding-top: 1vw;
    align-items: center;
    display: none;
}

.main-info img{
    object-fit: contain;
    height: 20vw;
    width: 20vw;
}

.info-text-1, .info-text-3{
    padding-left: 2vw;
    height: 18vw;
    flex: 1;
}

.info-text-2{
    padding-right: 2vw;
    height: 18vw;
    flex: 1;
    text-align: right;
}

.info label{
    color: grey;
}

#about-us:checked ~ .main-info .AU{
    display: flex;
    opacity: 1;
}
#our-service:checked ~ .main-info .OU{
    display: flex;
    opacity: 1;
}
#partner:checked ~ .main-info .PRT{
    display: flex;
    opacity: 1;
}

input[type="radio"]:checked~ { 
    color: black; 
}
