@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    font-size: 1.2vw;
}

header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    color: black;
    z-index: 11;
    background-color: transparent;
    border: transparent;
}

header h1 {
    font-size: 1.2rem;
    padding: 0.5vw;
    font-family: 'Kaushan Script', 'Poppins', sans-serif;
}

header img {
    position: absolute;
    right: 3vw;
    width: 3vw;
}

.icon_bars {
    position: relative;
    width: 2vw;
    height: 2vw;
    margin: 1vw 1vw 1vw 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.icon_bars > div {
    width: 90%;
    height: 20%;
    margin: 10% 0 10% 0;
    padding: 5%;
    background-color: black;
}

nav {
    position: fixed;
    width: 15%;
    left: -100%;
    height: 100vh;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
    z-index: 10;
    background-color: white;
    top: 0vw;
    padding-top: 6vw;
    border-right: 2px solid black;
}

nav ul li {
    list-style-type: none;
    margin: 1em 0 1em 0;
    transition: linear 0.3s;
    opacity: 70%;
    font-weight: 700;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}

nav ul li:hover {
    padding-left: 1vw;
    opacity: 100%;
}

#burger_icon {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

#burger_icon:checked ~ .side_nav{
    left: 0;
}

#burger_icon:checked ~ main {
    top: 6vw;
    width: 85%;
    left: 15%;
    padding-left: 1vw;
}

#burger_icon:checked ~ header {
    position: fixed;
}

footer {
    width: 97%;
    padding: 1vw;
    border-top: 2px solid black;
}

.footer_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer_top_right {
    display: flex;
    flex-direction: row;
    margin-right: 5vw;
    flex-wrap: wrap;
}

.footer_top_right input {
    width: 20vw;
    height: 3vw;
    border: transparent;
    text-align: start;
    border-bottom: 2px solid black;
    font-size: 1.1rem;
}

.footer_top_right input:focus {
    outline: none;
}

.footer_top_right button {
    font-size: 0.7rem;
    padding: 1vw;
    width: 8vw;
    margin-left: 2vw;
    border-radius: 2vw;
    border: transparent;
    background-color: #c8ef1a;
}

.footer_top_left {
    padding-left: 2vw;
}

.footer_top_left h1 {
    font-size: 1.5rem;
}

.footer_top_left h2 {
    font-size: 1.1rem;
    font-weight: 300;
}

.footer_mid {
    width: 100%;
    border-top: 0.2vw solid black;
    margin-top: 3vw;
    padding-top: 2vw;
}

.link_container {
    display: flex;
    flex-direction: row;
    padding: 0 1vw 0 2vw;
    flex-wrap: wrap;
}

.link {
    padding: 1vw;
    width: 20%;
}

.link h1 {
    font-size: 1rem;
}

.link ul {
    padding: 0;
}

.link ul li {
    font-size: 0.8rem;
    list-style-type: none;
}

.link ul li a {
    text-decoration: none;
    color: black;
}

.social {
    padding: 1vw;
}

.social h1 {
    font-size: 1rem;
}

.social_icon img {
    width: 3vw;
}

.footer_bottom {
    text-align: center;
    margin-top: 2vw;
}

.footer_bottom h1, .footer_bottom h2 {
    font-size: 0.8rem;
    font-weight: 300;
}

.main_link h1 {
    font-family: 'Kaushan Script', 'Poppins', sans-serif;
    font-size: 1.5rem;
}

main {
    position: relative;
    top: 1vw;
    width: 100%;
}

.main_container {
    width: 97%;
    color: black;
    padding: 1vw;
}

.img_bg_fix {
    width: 100%;
    position: absolute;
    height: 60vw;
}

.img_bg_fix img {
    width: 100%;
    height: 100%;
}

.hero{
    position: relative;
}

.hero-img{
    margin: 0;
    padding: 0;
    border-color: green;
    width: 100%;
    height: 55vw;
    filter: brightness(0.5);
}

.hero-img {
    opacity: 0%;
}

.hero-text{
    position: absolute;
    top : 10vw;
    left : 6vw;
    display: flex;
    flex-direction: column;
    background-color: rgba(256,256,256,0.8);
    border-radius: 1vw;
    padding: 2vw;
}

.hero-text h1{
    color: black;
    padding: 2vw 0 2vw 0;
    margin: 0 1vw 0 1vw;
    font-size: 2rem;
}

.hero-text div{
    background-color: black;
    height: 0.1vw;
    margin: 0 1vw 0 1vw;
}

.hero-text h2{
    color: black;
    padding: 1vw 0 3vw 0;
    margin: 0 1vw 0 1vw;
    width: 50vw;
    font-size: 1rem;
}

.select{
    display: flex;
    width: 80vw;
    justify-content: space-evenly;
    margin: 2vw 0 0 0;
    font-size: 2vw;
    padding: 2vw;
}

.about-us-text, .our-service-text, .partner-text {
    transition: linear 0.5s;
}

#about-us:checked ~ .select .about-us-text, #our-service:checked ~ .select .our-service-text, #partner:checked ~ .select .partner-text{
    color: black;
    opacity: 100%;
    z-index: 3;
}

.divider{
    margin: 0.3em 0 0 0vw;
    height: 0.2vw;
    width: 250%;
    background-color: black;
    opacity: 50%;
}

.label_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10vw;
    padding-top: 5vw;
}

.info input{
    display: none;
}

.main-info{
    margin-top: 1vw;
    width: 80vw;
}

.AU,.OU,.PRT{
    padding-top: 1vw;
    align-items: center;
    display: none;
}

.main-info img{
    object-fit: contain;
    width: 20vw;
}

.info-text-1, .info-text-3{
    padding-left: 2vw;
    flex: 1;
}

.info-text-2{
    padding-right: 2vw;
    flex: 1;
    text-align: right;
}

.select label {
    width: 35%;
    border-bottom: 0.1em solid black;
    opacity: 30%;
    transition: linear 0.5s;
}

#about-us:checked ~ .main-info .AU{
    display: flex;
    opacity: 1;
}
#our-service:checked ~ .main-info .OU{
    display: flex;
    opacity: 1;
}
#partner:checked ~ .main-info .PRT{
    display: flex;
    opacity: 1;
}

input[type="radio"]:checked~ {
    color: black;
}

.new_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 6vw;
    margin-top: 3vw;
    padding: 5vw 0 3vw 0;
}

.new_section > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new_section > div h1 {
    padding: 0;
    margin: 0;
}

.new_section > div h4 {
    font-weight: 500;
}

.new_section button {
    width: 50%;
    height: 5vw;
    margin: 3vw 0 2vw 0;
    border: transparent;
    background-color: #c8ef1a;
    border-radius: 3vw;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}

.new_section button:hover {
    box-shadow: 0px 0px 3vw rgba(200, 239, 26, 0.75);
}

.line_section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line_section > div {
    height: 0.2vw;
    background-color: black;
    width: 80%;
    margin-top: 2vw;
}

.disclaimer {
    padding: 2vw 4vw 4vw 4vw;
    border-radius: 3vw;
    text-align: justify;
    margin-bottom: 5vw;
    background-color: #dafbcb;
}

.disclaimer h1 {
    padding-bottom: 0.3em;
    width: 20%;
    border-bottom: 0.1em solid black;
    margin-bottom: 0.9em;
}

@media all and (max-width: 768px){
    :root {
        font-size: 14px;
    }

    nav {
        width: 100%;
    }

    nav ul {
        padding: 10vw;
    }

    .footer_top, .footer_mid {
        flex-direction: column;
    }

    .footer_top {
        text-align: center;
    }

    .footer_top_right {
        margin-top: 5vw;
    }

    .footer_top_right input {
        width: 30vw;
    }

    .footer_top_right button {
        width: 15vw;
    }
}

@media all and (max-width: 480px){
    :root {
        font-size: 10px;
    }

    .link_container {
        flex-direction: column;
    }

    .link {
        width: 80%;
    }
}
